[defaults]
inventory = ./inventory/local.yml
roles_path = ./roles
stdout_callback = yaml
nocows = true
interpreter_python = auto_silent
retry_files_enabled = false

[privilege_escalation]
become = false
become_ask_pass = false
