{
  "Profiles": [
    {
      "Name": "rocket-launch",
      "Guid": "rocket-launch-terminal",
      "Normal Font": "{{ terminal_font }} {{ terminal_font_size }}",
      "Non Ascii Font": "{{ terminal_font }} {{ terminal_font_size }}",
      "Use Non-ASCII Font": false
    }
  ]
}
